PERPLEXITY_API_KEY=your_perplexity_api_key_here
SMTP_EMAIL=your_email@example.com
SMTP_PASSWORD=your_smtp_password_here
AITIMES_TO_EMAIL=recipient1@example.com,recipient2@example.com
MK_TO_EMAIL=recipient1@example.com,recipient2@example.com
